---
layout: landing-page
---		
		<!-- Main -->
			<article id="main">

				<header style="text-align:center;">
					<h2 class="black">A free and open-source intermedia sequencer</h2>
					<br />
					<p>Enables precise and flexible scripting of interactive scenarios.
					<br />
                    Control and score any OSC-compliant software or hardware:
                    Max/MSP, PureData, openFrameworks, Processing…</p>
				</header>
					
				<!-- One -->
					<section class="wrapper style2 container special-alt" style="padding: 3em;">
						<p align="center" style="padding: 0;">
                            <iframe src="https://player.vimeo.com/video/247547998" width="100%" height="800" frameborder="0" allow="autoplay; fullscreen" allowfullscreen></iframe>
                            <a href="https://vimeo.com/247547998">Score overview</a> from <a href="https://vimeo.com/ossia">ossia</a> on <a href="https://vimeo.com">Vimeo</a>.
                        </p>	
                        <div style="text-align:center;">
							<a href="/download.html" class="button special">Download ossia score</a>
						</div>
					</section>
					
				<!-- Two -->
					<section class="wrapper style1 container special">
						<div class="row">
							<div class="4u">
							
								<section>
									<image src="assets/icon_multi@300x.png" height="70px"/>
									<header>
										<h3>Multi-protocol sequencer</h3>
									</header>
									<p>Remote-control various applications, such as Max/MSP, PureData, Processing, openFrameworks, Unity3D, modul8, Live… using OSC, Minuit and more to come.</p>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<image src="assets/icon_flex@300x.png" height="70px"/>
									<header>
										<h3>Flexible time management</h3>
									</header>
									<p>Set temporal & conditional relationships between events, interactively trigger them, hierarchize your score, and use loops to produce interactive scenarios.</p>
								</section>
							
							</div>
							<div class="4u">
							
								<section>
									<image src="assets/icon_interpolation@300x.png" height="70px"/>
									<header>
										<h3>Interpolation & breakpoint functions</h3>
									</header>
									<p>Automatically interpolate parameters’ values between events or draw your own curved breakpoint function. Map addresses together, and live-script your score using JavaScript.</p>
								</section>
							
							</div>
						</div>
					</section>
					
					
	<!-- Three -->
  	<div class="container wrapper" style="padding: 1em;"> 
        <h2><a href="/gallery.html">Gallery</a></h2>
        <div class="owl-carousel owl-theme" >
            <div class="carouselcontainer" style="width:840px">
                <div style="width:800px; height:600px; display: flex;">
                    <img src="assets/carrousel-dome.png" style="width:400px;"/>
                    <img src="assets/carrousel-basilique.jpg" style="width:400px;"/>
                </div>
                <header>
                    <a href="https://www.abbayeauxdames.org/en/musicaventure/carrousel-musical/"><span class="gallery-text">Carousel</span></a> -  <a href="http://www.blueyeti.fr/le-carrousel-musical-abbaye-aux-dames/"><span class="gallery-text">Blue Yeti</span></a>
                </header>
            </div>
            <div class="carouselcontainer" style="width:840px">
                <img src="assets/Nebula_ChampignonsNeigeJaune.jpg" style="width:800px;"/>
                <header>
                    <a href="http://www.baltazars.org/project/nebula/"><span class="gallery-text">Nebula</span></a> -  <a href="http://www.baltazars.org/"><span class="gallery-text">Les Baltazars</span></a>
                </header>
            </div>
            <div class="carouselcontainer" style="width:640px">
                <img src="assets/quarre.jpg"/>
                <header>
                    <a href="https://wpn214.com/en/"><span class="gallery-text">Quarrè</span>- <span class="gallery-text">Pierre Cochard</span></a> 
                </header>
            </div>
            <div class="carouselcontainer" style="width:700px">
                <img src="assets/dome_scrime.jpg"/>
                <header>
                    <a href="https://scrime.u-bordeaux.fr/Arts-Sciences/Residences/Residences/Meta-Chef-d-Orchestre"><span class="gallery-text">Méta Chef d’Orchestre</span>- <span class="gallery-text">Serge Delaubier</span></a> 
                </header>
            </div>
            <div class="carouselcontainer"  style="width:640px">
                <img src="assets/sonotact.jpg"/>
                <header>
                    <a href="https://scrime.u-bordeaux.fr/Arts-Sciences/Residences/Residences/Sonotact"><span class="gallery-text">Sonotact</span> - <span class="gallery-text">Pascale Criton</span></a> 
                </header>
            </div>
        </div>
    </div>  
    
    
    <div class="container">
        
        <div style="display: flex; justify-content: space-around; margin: 0;padding: 0;">
            <div class="wrapper style3" style="padding: 1em; padding-bottom: 0;margin: 0; margin-right: 2em; width: 70%;">
                <h2><a href="/blog/index.html">Recent posts</a></h2>
                <div class="recent-post-view">
                    {% for post in site.posts limit:4 %}
                        <div class="thumbnail" >
                            <a class="thumbnail" href={{post.url}}>
                                {% if post.image %} 
                                    <img src={{post.image}} width="400"/>
                                {% else %}
                                    <img src="assets/default_post_thumbnail.png" width="400"/>
                                {% endif %}
                                <h1 class="thumbnail">{{post.title}}</h1>
                            </a>
                        </div>
                    {% endfor %}
                </div>
				<footer class="major" style="text-align: center;">
                    <ul class="buttons">
                        <li><a href="#" class="button">See More</a></li>
                    </ul>
				</footer>
            </div>
            <!-- Twitter timeline -->
            <div class="wrapper style3" style="padding: 1em; width: 30%;">
                 <h2><a class="twitter-timeline" data-tweet-limit="2" href="https://twitter.com/ossia_io?ref_src=twsrc%5Etfw">Tweets by ossia_io</a> </h2>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8">
                </script>
            </div>
        </div>
          
    </div>
					
					
</article>

		<!-- CTA -->
<section id="cta">
	<header>
        <h2>Talk with us </h2>
        <p>For any questions or if you want to contribute !</p>
	</header>
	<footer>
		<ul class="buttons">
			<li><a href="https://gitter.im/OSSIA/score" class="button" target="_blank">Gitter</a></li>
			<li><a href="http://forum.ossia.io/" class="button" target="_blank">Forum</a></li>
		</ul>
	</footer>
</section>
