<!-- Banner -->		
<section id="site-banner">

    <!--
        ".inner" is set up as an inline-block so it automatically expands
        in both directions to fit whatever's inside it. This means it won't
        automatically wrap lines, so be sure to use line breaks where
        appropriate (<br />).
    -->
    <div class="inner">

        <image src="/assets/score-logo.png" width="100px" style="vertical-align:middle"/>
        <header>
            <h2>ossia</h2>
            <p>Open Software System for Interactive Applications</p>
        </header>
        
    </div>

</section>
