<!-- Banner -->		
<div id="banner" class="background">
   <img class="background-image" src="assets/banner_quarre.jpg"/> 

   <div class="overlay">
        <div class="inner">
            <header>
                <!-- Logo -->		
                <div style="display:flex; justify-content:center;">
                    <image src="/assets/score-logo.png" height="80px" style="vertical-align:middle"/>
                    <h2 class="software">ossia score</h2>
                </div>
                
                <!-- Short description -->		
                <p> <h2 style="color:white; margin-bottom: 0;">A free and open-source intermedia sequencer</h2>
                Enables precise and flexible scripting of interactive scenarios.
                <br />
                Control and score any OSC-compliant software or hardware:
                Max/MSP, PureData, openFrameworks, Processing…</p>
                <br />
            </header>
            <!-- Download button -->		
            <a href="/download.html" class="download">Download ossia score</a>
        </div>  
    </div> 
</div>
