<script>
$(function(){
    $('.menu a').each(function(){
    var category_name = "site-" + this.text; 
    if("{{page.category}}" ===  category_name){
        $(this).addClass('active');
        return false;
    }
    });

    var home = document.getElementById("homebtn");
    if( window.location.pathname === "/")
    {
        home.style.display = "none";
    }
    else
    {
        home.style.display = "flex";
    }
});
</script>

<header id="header">
	<nav id="nav" class="menu">
        <div style="position: absolute; left: 1.5em;">
            <a id="homebtn" class="home-logo" href="/">
                <image src="/assets/score-logo.png" height="50px"/>
                <h2 class="software small">ossia</h2>
            </a>
        </div>
        
        <div>
            <a href="/about-ossia-score.html">score</a>
			<a href="/libossia.html">libossia</a>
			<a href="/community.html">community</a>
			<a href="/about.html">about</a>
        </div>
                            
		<div style="position: absolute; right: 1.5em;">
            <a href="http://forum.ossia.io/" target="_blank">forum</a>
            <a href="https://gitter.im/OSSIA/score" target="_blank">chat</a>
        </div>
	</nav>
</header>
