---
layout: default
---

<article id="main">
    <header class="container" style="padding-top: 6em;text-align:center;">
    <h2 class="page-title">{{page.title}}</h2>
  </header>

    <section class="wrapper style4 container">
        <div class="row oneandhalf">
            <div class="9u skel-cell-important">
                {{ content }}
            </div>
            <div class="3u">
			<!-- Sidebar -->
                <div class="sidebar">
                    <section class="categories">
                        <h1 class="blog category-title">Overview<h1/>
                        <ul class="list-none">
                            	<li><a href="/about.html">About ossia</a></li>
                                <li><a href="/team.html">Team</a></li>
                                <li><a href="/roadmap.html">Roadmap</a></li>
                                <li><a href="/research.html">Research</a></li>
							</ul>
					</section>
				</div>
            </div>
        </div>
    </section>
</article>
    
