<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    {% include header.html %}
    
    <div class="page-content download" style="background-image: url('/assets/download-bg.png');" >
        {{ content }}
    </div>
    {% include footer.html %}

  </body>
  <script type="text/javascript">
    let os = navigator.platform;
    let windows = os.includes('Win');
    document.getElementById('winstore').style.display = windows ? 'flex' : 'none'; 
    document.getElementById('win').style.display = windows ? 'flex' : 'none'; 
    
    let osx = os.includes('Mac');
    document.getElementById('osx').style.display = osx ? 'flex' : 'none';
    
    let linux = os.includes('Linux');
    document.getElementById('linux').style.display = linux ? 'flex' : 'none';
    document.getElementById('pi').style.display = linux ? 'flex' : 'none';
  </script>
</html>
