---
layout: default
---
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   
<article id="main" style="padding-bottom: 2em;">
    <header class="container" style="padding-top: 6em;text-align:center;">
        <div class="menu" style="width: 90%;">
            <a href="/score/learn/faq.html" class="menu-item" ><span class="icon-svg icon-chat"/></span>FAQ</a>
            <a href="https://www.youtube.com/playlist?list=PLIHLSiZpIa6aRQT5v6RInuyCR3qWmMEgV" target="_blank" class="menu-item"><span class="icon-svg icon-video"></span>Tutorials</a>
            <a href="https://ossia.io/ossia-docs/score/" target="_blank" class="menu-item"><span class="icon-svg icon-documentation"></span>Docs</a>
            <a href="http://forum.ossia.io/"  target="_blank" class="menu-item"><span class="icon-svg icon-forum"></span>Forum</a>
            <a href="https://gitter.im/OSSIA/score"  target="_blank" class="menu-item"><span class="icon-svg icon-chat"></span>Chat</a>
        </div>
        
        <br/>
        
        <h2 class="page-title">{{page.title}}</h2>
    </header>
    
  <section class="wrapper style4 container" style="padding: 2em; ">        
  {{ content }}
</section>
</article>
     
<script>
$(function(){
    $('.menu a').each(function(){
    if("{{page.title}}" ===  this.text){
        $(this).addClass('active');
         return false;
    }
    });
});
</script>
