---
layout: default
---
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    
<script>
$(function(){
    $('.menu a').each(function(){
    if("{{page.title}}" ===  this.text){
        $(this).addClass('active');
         return false;
    }
    });
});
</script>

  
<article id="main" style="padding-bottom: 2em;">
    <header class="container" style="padding-top: 6em;text-align:center;">
        <div class="menu" style="width: 70%;">
            <a href="/faq.html" class="menu-item" ><span class="icon-svg icon-chat"/></span>FAQ</a>
            <a href="https://www.youtube.com/playlist?list=PLIHLSiZpIa6aRQT5v6RInuyCR3qWmMEgV" target="_blank" class="menu-item"><span class="icon-svg icon-video"></span>Tutorials</a>
            <a href="https://ossia.github.io/score/"  target="_blank" class="menu-item"><span class="icon-svg icon-documentation"></span>Docs</a>
            <a href="http://forum.ossia.io/"  target="_blank" class="menu-item"><span class="icon-svg icon-forum"></span>Forum</a>
        </div>
        
        <br/>
        
        <h2 class="page-title">{{page.title}}</h2>
    </header>
    
  <section class="wrapper style4 container">        
  {{ content }}
</section>
</article>
    
