---
layout: default
---

<script>
$(function(){
    $('.menu a').each(function(){
    if("{{page.title}}" ===  this.text){
        $(this).addClass('active');
         return false;
    }
    });
});
</script>

<article id="main">
  <header class="container" style="padding-top: 6em;text-align:center;">
  
    <div class="menu">
            <a href="/site-libossia/about.html" class="menu-item" ><span class="icon-svg icon-about"/></span>About</a>
            <a href="/site-libossia/download.html" class="menu-item" ><span class="icon-svg icon-download"/></span>Download</a>
            <a href="/site-libossia/features.html" class="menu-item"><span class="icon-svg icon-feature"></span>Features</a>
            <a href="https://ossia.github.io/ossia-docs/#introduction" target="_blank" class="menu-item"><span class="icon-svg icon-documentation"></span>Doc</a>
            <a href="https://gitter.im/OSSIA/libossia" class="menu-item"><span class="icon-svg icon-chat"></span>Chat</a>
    </div>
        
    <h2 class="page-title">{{ page.title }}</h2>
  </header>

    <section class="wrapper style4 container">
        {{ content }}
    </section>
</article>
    
