---
layout: default
---
<script>
// this is to enable using anchors like #section from an external page
// it is quite an awful method so it should be replaced if possible
window.onload = (event) => {
  console.log('page is fully loaded');
  location.href = location.href;
};
</script>
<article id="main">
  <header class="container" style="padding-top: 6em;text-align:center;">
    <h2 class="page-title">{{ page.title }}</h2>
  </header>

  <section class="style4 wrapper container">
    {{ content }}
  </section>
</article>

