---
layout: default
---

<article id="main">
  <header class="container" style="padding-top: 6em;text-align:center;">
    <h2 class="page-title">{{ page.title }}</h2>
  </header>

    <section class="wrapper style4 container">
        <div class="row oneandhalf">
            <div class="9u skel-cell-important">
                {{ content }}
            </div>
            <div class="3u">
			<!-- Sidebar -->
                <div class="sidebar">
                    <section class="categories">
                        <h1 class="blog category-title">Menu<h1/>
                        <ul class="list-none">
                            <li><a href="/download.html">Download</a></li>
                            <li><a href="">Features</a></li>
                            <li><a href="https://ossia.github.io/score/" target="_blank">Documentation</a></li>
                            <li><a href="https://www.youtube.com/playlist?list=PLIHLSiZpIa6aRQT5v6RInuyCR3qWmMEgV" target="_blank">Video Tutorials</a></li>
                            <li><a href="https://github.com/OSSIA/score/wiki" target="_blank">Wiki on github</a></li>
                            <li><a href="/contributor-guide.html">Contributor guide</a></li>
						</ul>
					</section>
				</div>
            </div>
        </div>
    </section>
</article>
    
