---
layout: default
---

<article id="main">
  <header class="container" style="padding-top: 6em;text-align:center;">

    <div class="menu">
            <a href="/score/about.html" class="menu-item" ><span class="icon-svg icon-about"/></span>About</a>
            <a href="/score/download.html" class="menu-item" ><span class="icon-svg icon-download"/></span>Download</a>
            <a href="/score/learn.html" class="menu-item"><span class="icon-svg icon-documentation"></span>Learn</a>
            <a href="/contributor-guide.html" class="menu-item"><span class="icon-svg icon-contributing"></span>Contribute</a>
    </div>

<!--     <h2 class="page-title">{{ page.title }}</h2> -->
  </header>

    <section class="wrapper style4 container">
        {{ content }}
    </section>
</article>

<script>
$(function(){
    $('.menu a').each(function(){
    if("{{page.title}}" ===  this.text){
        $(this).addClass('active');
         return false;
    }
    });
});
</script>
